body {
  height: 100vh;
}

.b_around,
.mover {
  width: 2vw;
}

.b1 {
  position: relative;
  left: 60px;
  top: 441px;
}

.b2 {
  position: relative;
  left: 509px;
  top: 585px;
}

.b3 {
  position: relative;
  left: 115px;
  top: 55px;
}

.b4 {
  position: relative;
  left: 179px;
  top: 675px;
}

.b5 {
  position: relative;
  left: 566px;
  top: 880px;
}

.b6 {
  position: relative;
  left: 1037px;
  top: 513px;
}

.b7 {
  position: relative;
  left: 915px;
  top: 642px;
}

.b8 {
  position: relative;
  left: 512px;
  top: 768px;
}

.b9 {
  position: relative;
  left: 329px;
  top: 621px;
}

.b10 {
  position: relative;
  left: 371px;
  top: 139px;
}

.b11 {
  position: relative;
  left: 557px;
  top: 598px;
}

#main-container {
  overflow-y: visible;
  position: relative;
}

#bienvenue-svg {
  position: relative;
  height: 100%;
  width: 8vh;
  z-index: 2;
}

#intro {
  border-bottom: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 100vh;
  width: 98vw;
}

.together {
  position: relative;
}

#letter-b-wrapper {
  width: 100%;
  z-index: 1;
  perspective: 1000px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#letter-b {
  width: 27rem;
}

.letter-b {
  width: 2.25vw;
  position: absolute;
  pointer-events: none;
}

#letter-b.y-axis {
  animation: y-axis-animation 5s infinite linear;
}

@keyframes y-axis-animation {
  from {
    transform: rotateY(180deg)
  }

  to {
    transform: rotateY(-180deg)
  }
}

#animation {
  width: 100vw;
  position: fixed;
  top: 0;
}

.all_text {
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 1px;
  text-align: center;
  border-bottom: 1px solid black;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 6%;
}

.border_contact {
  border-bottom: none;
}

.fill_b {
  fill: #454040f5;
}

#email_art,
#email_art_two {
  text-decoration: underline;
}

.section_two {
  margin-bottom: 4vw;
}

.logos {
  width: 4vw;
}

.logos_lign {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.insta {
  width: 3.2vw;
  margin-top: 6px;
}

.partner_display {
  display: flex;
  flex-direction: row;
}

.margin_to_photo {
  margin-left: 2vw;
}

.display_photos {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.img_partner_juliette {
  margin-bottom: 15vh;
}

@media only screen and (min-width:279px) and (max-width:766px) {

  #letter-b {
    width: 19rem;
  }

  .letter-b {
    width: 5.25vw;
  }

  .all_text {
    height: auto;
    font-size: 13px;
  }

  .partner_display {
    display: unset;
  }

  img {
    width: 100vw;
  }

  .img_partner_juliette {
    margin-bottom: 5vh;
  }

  .logos {
    width: 12vw;
  }

  .insta {
    margin-top: 0;
  }

  .height_tel {
    height: 100vh;
  }
}

@media only screen and (min-width:767px) and (max-width: 1024px) {
  .all_text {
    height: auto;
  }

  .partner_display {
    display: unset;
  }

  .img_partner_juliette {
    margin-bottom: 5vh;
  }

  .display_photos {
    width: 100%;
    align-items: center;
  }

  .height_tel {
    height: 100vh;
  }

  .logos {
    width: 7vw;
  }
}
