.about_art {
  text-align: center;
  padding: 0 15vw;
  height: 88vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.pro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1.7rem;
}

.coordinates {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  width: 90vw;
}

.coordinates-design {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 90vw;
}

.pics_divs {
  background-size: cover;
  background-position: center;
}

@media only screen and (min-width:279px) and (max-width:360px) {
  .down_border_tel {
    border-bottom: 1px solid black;
    background-color: #f4f4f4;
  }

  .coordinates {
    display: unset;
  }

  .about_art {
    height: unset;
    margin-top: 4rem;
  }

  .coordinates-design {
    display: unset;
  }
}

@media only screen and (min-width:361px) and (max-width: 1260px) {
  .down_border_tel {
    border-bottom: 1px solid black;
    background-color: #f4f4f4;
  }

  .coordinates {
    display: unset;
  }

  .about_art {
    margin-top: 5rem;
    height: unset;
  }

  .tab_pro {
    margin-top: 5rem;
  }

  .coordinates-design {
    display: unset;
  }
}
