.registration-form {
  display: flex;
  flex-direction: column;
  width: 50%;
  text-transform: uppercase;
  border: 1px solid black;
  padding: 2rem;
  border-radius: 2px;
  background-color: #f3f2f2ad;
  height: 50%;
  justify-content: center;

  input {
    margin: 0 0.5rem;
  }

  label {
    margin: 0 0.5rem;
  }
}

.registration-group {
  margin: 0.5rem 0;
  display: flex;
  flex-direction: column;
}

.registration_title {
  font-size: 1.1rem;
  margin: 0;
}

.invisible_div {
  width: 51.7px;
}

.registration_top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
  padding: 6px;
  position: sticky;
  top: 0;
  background-color: #f4f4f4;
}

.form_in_middle {
  width: 100%;
  height: auto;
}

.gif_middle_change {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.group_one {
  display: flex;
  flex-direction: row;
}

.underline {
  text-decoration: underline;
  text-underline-position: under;
}

.group_four {
  line-height: 37px;
}

.button_sub {
  background-color: white;
  border-radius: 2px;
}

@media only screen and (min-width:279px) and (max-width:1024px) {

  .registration-form {
    width: 100%;
    padding: 1rem;
    border: unset;
    border-radius: unset;
    height: 91vh;
  }

  .registration_top {
    height: 5%;
  }

  .group_one {
    display: unset;
    line-height: 37px;
  }

}
