.artist_name {
  text-transform: uppercase;
  padding: 2.5rem;
  text-align: center;
  font-size: 1.4rem;
}

.pics {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 1rem;
  text-transform: uppercase;

  p {
    width: 80%;
  }

}

@media only screen and (min-width:279px) and (max-width:766px) {
  .size {
    font-size: 1rem;
  }

  .artist_name {
    font-size: 1.2rem;
    padding: 2rem 2rem 0 2rem;
  }

  .pics {
    flex-direction: column;
  }

  .text {
    border-bottom: 1px solid black;
  }
}
