.artist_name {
  text-transform: uppercase;
  padding: 2.5rem;
  text-align: center;
  font-size: 1.4rem;
}

.pics {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-template-rows: minmax(300px, auto);
  grid-auto-flow: row dense;
  justify-content: center;
  width: 100%;
  gap: 15px;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 1rem;
  text-transform: uppercase;

  p {
    width: 80%;
  }
}

.tel_mode {
  display: none;
}

.comp_mode {
  display: block;
}

.exhibitors_top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
  padding: 6px;
  position: -webkit-fixed;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #f4f4f4;
}

.pics_divs {
  width: 300px;
  object-fit: contain;
}

.middle_coming {
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.come {
  margin-bottom: 0;
  font-size: 1.2rem;
}

@media only screen and (min-width:279px) and (max-width:766px) {
  .size {
    font-size: 1rem;
  }

  .artist_name {
    font-size: 1.2rem;
    padding: 2rem 2rem 0 2rem;
  }

  .pics {
    display: flex;
    flex-direction: column;
  }

  .text {
    border-bottom: 1px solid black;
  }

  .exhibitors_title {
    display: flex;
    justify-content: center;
    padding: 1rem;
    border-bottom: 1px solid black;
    background-color: #f4f4f4;
  }

  .stick {
    position: fixed;
    top: 6.5%;
    width: 100%;
  }

  .tel_mode {
    display: block;
    position: fixed;
    top: 0;
    width: 100%;
  }

  .comp_mode {
    display: none;
  }

  .pics_divs {
    height: 300px;
    width: 100%;
  }

  .artist-1 {
    margin-top: 14vh;
  }
}
