<header id="header" class="" style="">
<nav class="main-nav border-bottom_blue background_white">
  <ul class="grid-row font-uppercase justify-between padding-top-micro padding-bottom-micro">
    <li class="grid-item"><a class="font_blue hover_red smooth-scroll" href="https://bienvenue.art#about">About</a></li>
	<li class="grid-item"><a class="font_blue hover_red smooth-scroll" href="https://bienvenue.art/bienvenue-art-fair/">Art Fair</a></li>
	<li class="grid-item"><a class="font_blue hover_red smooth-scroll" href="https://bienvenue.art#about">Design</a></li>


    <li class="grid-item"><a class="font_blue hover_red smooth-scroll" href="#contact">Contact</a></li>
  </ul>
</nav>
<nav class="main-nav border-bottom_blue background_white">
  <ul class="grid-row font-uppercase padding-top-micro padding-bottom-micro" style="display:grid; justify-content:center;">
    <li class="grid-item"><a class="font_blue hover_red smooth-scroll" href="#partners">Partners</a></li>
  </ul>
</nav>
