<div id="header" data-controller="navBar">
  <nav class="main-nav nav-one">
    <ul>
      <li class="grid-item"><a class="smooth-scroll" href="https://bienvenue.art#about">About</a></li>
  	  <li class="grid-item"><a class="smooth-scroll" href="https://bienvenue.art/bienvenue-art-fair/">Art Fair</a></li>
  	  <li class="grid-item"><a class="smooth-scroll" href="https://bienvenue.art#about">Design</a></li>
      <li class="grid-item"><a class="mooth-scroll" href="#contact">Contact</a></li>
    </ul>
  </nav>
  <nav class="main-nav">
    <ul style="display:grid; justify-content:center;">
      <li><a href="#partners">Partners</a></li>
    </ul>
  </nav>
</div>
