<%= render "shared/navbar" %>
<section class="about_art pro tab_pro">
  <div>
    <% if params[:locale] == "en" || params[:locale].nil? %>
      <%= simple_format(@art_fair.programm_en) %>
    <% else %>
      <%= simple_format(@art_fair.programm_fr) %>
    <% end %>
  </div>
</section>
