<div class="all_art">
   <%= render "shared/navbar" %>
   <section class="about_art">
    <% if params[:locale] == "en" || params[:locale].nil? %>
      <div class="descript">
        <%= simple_format(@art_fair.description_en) %>
      </div>
    <% else %>
      <div class="descript">
        <%= simple_format(@art_fair.description_fr) %>
      </div>
    <% end %>
    <div class="coordinates">
      <%= simple_format(@art_fair.coordinates) %>
    </div>
  </section>
</div>
