<%= render "shared/navbar" %>
<section class="about_art pro">
  <% if params[:locale] == "en" || params[:locale].nil? %>
    <div class="descript">
      <%= simple_format(@design.description_en) %>
    </div>
  <% else %>
    <div class="descript">
      <%= simple_format(@design.description_fr) %>
    </div>
  <% end %>
  <div class="coordinates-design">
    <%= simple_format(@design.coordinates) %>
  </div>
</section>
