<%= render "shared/navbar" %>
<section class="about_art pro">
  <div class="descript">
    <%= simple_format(@design.description) %>
  </div>
  <div class="coordinates-design">
    <%= simple_format(@design.coordinates) %>
  </div>
</section>
