.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 1px solid black;
  padding: 6px 17px;
  position: sticky;
  bottom: 0;
  background-color: #FC46AA;
  z-index: 20;
}

.underlin {
  text-decoration: none;
}

.col-w {
  background-color: #F4F4F4;
}

.fill-w {
  fill: white;
}

.color-w {
  color: white;
}

@media only screen and (min-width:279px) and (max-width:766px) {
  .footer {
    padding: 6px;
    font-size: 14px;
  }

  .smaller {
    height: 14px;
  }

}
