ul {
  list-style: none;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 4px 1.5vw;
}

.navbar_down {
  justify-content: space-around;
}

a:link, .link:link {
  text-decoration: none;
  color: black;
}

a:visited,
.link:visited {
  text-decoration: none;
  color: black;
}

a:hover,
.link:hover {
  text-decoration: none;
  color: black;
}

a:active,
.link:active {
  text-decoration: none;
  color: black;
}

.main-nav {
  border-bottom: 1px solid black;
  background-color: #f4f4f4;
}

#header {
  position: sticky;
  top: 0px;
  z-index: 15;
}

.go-back {
  font-size: 13px;
}

.display_back {
  display: none;
}

.nav_height {
  height: 6vw;
}

#nav_computer {
  display: block;
}

#nav_tel {
  display: none;
}

@media only screen and (min-width:279px) and (max-width:766px) {
  #nav_computer {
    display: none;
  }

  #nav_tel {
    display: block;
  }

  li, .column {
    line-height: 2rem;
  }

  ul {
    padding: 0;
  }

  .main-nav {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .rotate {
    transition: transform 0.5s;
    transform: rotate(90deg);
  }

  .fa-solid {
    height: 21px;
    width: 19px;
  }

  .align_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 13px;
  }

  .slide {
    clear:both;
    width: 100%;
    height: 0px;
    overflow: hidden;
    text-align: center;
    transition: height .4s ease;
  }

  .list_menu_column {
    display: flex;
    flex-direction: column;
  }
}
