.fixed {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 20;
}

ul {
  list-style: none;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 3px 17px;
}

.navbar_down {
  justify-content: space-around;
}

a:link, .link:link {
  text-decoration: none;
  color: black;
}

a:visited,
.link:visited {
  text-decoration: none;
  color: black;
}

a:hover,
.link:hover {
  text-decoration: none;
  color: black;
}

a:active,
.link:active {
  text-decoration: none;
  color: black;
}

.main-nav {
  border-bottom: 1px solid black;
}

.nav-one {
  border-top: 1px solid black;
}

#header {
  position: sticky;
  top: 0px;
  z-index: 15;
}

.go-back {
  font-size: 13px;
}

.display_back {
  display: none;
}
