<h1>Art exhibitors</h1>

<% @design_exhibitors.each do |d_exhib| %>
  <div>
    <p>Artist name : <%= simple_format(d_exhib.artist_name) %></p>
    <p>description : <%= simple_format(d_exhib.description) %></p>
    <p>link to the artist : <%= link_to d_exhib.url, "http://#{d_exhib.url}" %></p>
  </div>
<% end %>